<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.tayfuncesur.mobile">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/appiconblack"
            android:label="@string/app_name"
            android:name=".App"
            android:roundIcon="@drawable/appiconblack"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.splash.SplashActivity" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name=".ui.detail.MainDetailActivity" android:configChanges="orientation|screenSize"/>
    </application>

</manifest>